.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.sticky-content {
  width: 230px;
  word-wrap: break-word;
  background-color: yellow; 
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.btn-wrapper {
  position: absolute;
  bottom: 2px;
  right: 2px;
}

.btn-wrapper button, .btn-wrapper input {
  margin-right: 5px;
}

#stickyText {
  width : 230px;
  height: 230px;
  background-color: yellow;
  border: 0;
  padding: 0;
}

.sticky-text {
  overflow-y: auto;
  height: 230px; 
}

.sticky-text p {
  margin: 5px 0;
}

.react-draggable, .cursor {
  cursor: move;
}

.no-cursor {
  cursor: auto;
}

.cursor-y {
  cursor: ns-resize;
}

.cursor-x {
  cursor: ew-resize;
}

.react-draggable strong {
  background: #ddd;
  border: 1px solid #999;
  border-radius: 3px;
  display: block;
  margin-bottom: 10px;
  padding: 3px 5px;
  text-align: center;
}

.box {
  display: inline-block;
}

.container-box {
  background: #fff;
  border: 1px solid #999; 
  display: inline-block;
}

  